# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Environment
.env

# Django
*.log
db.sqlite3
staticfiles/

# IDE
.idea/
.vscode/
